{{#page-1}}
	{{#each this.entries}}
		<article>
			<div class="work-entry-flex">
				<div class="col-one-half no-gutters">
					<div class="article-image" style="background-image: url('https://obczpdpffc.execute-api.us-east-1.amazonaws.com/image/{{{image '{  
						"resize": {
							"height": 300
							},
							"grayscale": true
						}' 'hotel-herrera' content.blog_image }}}');">
					</div>
				</div>
				<div class="col-one-half  no-gutters">
					<div class="article-text">
						<h2><a href="{{{content.blog_link}}}" target="_blank">{{{content.blog_title}}}</a></h2>
						<p>{{{content.blog_description}}}</p>
						<p><a href="{{{content.blog_link}}}" target="_blank" class="btn-view">Read More</a></p>
					</div>
				</div>
			</div>
		</article>
	{{/each}}
{{/page-1}}
