{{#page-1}}
	<style>
		{{#each this.entries}}
			{{#unless content.blog_images_single}}
				#{{content.blog_page_slug}}::before, #{{content.blog_page_slug}}::after {
					animation: slideshow {{{random 5 10}}}s 0s ease-in-out infinite !important;
				}

				#{{content.blog_page_slug}}::after {
					background-image: url('//beta.hotelherrera.com/image/{{{image '{"resize": {"height": 300}, "grayscale": true}' 'hotel-herrera' content.blog_images 0 }}}'), url('//beta.hotelherrera.com/image/{{{image '{ "resize": {"height": 300 }, "grayscale": true}' 'hotel-herrera' content.blog_images 1 }}}');
				}

				#{{content.blog_page_slug}}::before {
					background-image: url('//beta.hotelherrera.com/image/{{{image '{"resize": {"height": 300}, "grayscale": true}' 'hotel-herrera' content.blog_images 2 }}}'), url('//beta.hotelherrera.com/image/{{{image '{ "resize": {"height": 300 }, "grayscale": true}' 'hotel-herrera' content.blog_images 3 }}}');
				}
			{{else}}
				#{{content.blog_page_slug}} {
					background-image: url('//beta.hotelherrera.com/image/{{{image '{"resize": {"height": 300}, "grayscale": true}' 'hotel-herrera' content.blog_images 0 }}}');
				}
			{{/unless}}
		{{/each}}
	</style>
	{{#each this.entries}}
		<article>
			<div class="work-entry-flex">
				<div class="col-one-half no-gutters">
					<div id="{{content.blog_page_slug}}" class="article-image{{#unless content.blog_images_single}} container slideshow{{/unless}}"></div>
				</div>
				<div class="col-one-half  no-gutters">
					<div class="article-text">
						<h2><a href="{{{content.blog_link}}}" target="_blank">{{{content.blog_title}}}</a></h2>
						<span class="text-description">{{content.blog_article}}</span>
						<p><a href="{{{content.blog_link}}}" target="_blank" class="btn-view">Read More</a></p>
					</div>
				</div>
			</div>
		</article>
	{{/each}}
{{/page-1}}
