{{#page-1}}
   {{#if content.blog_images[1]}}
		<style>
			{{#each this.entries}}
			#{{content.blog_page_slug}}::before, #{{content.blog_page_slug}}::after {
				animation: slideshow {{{random 5 10}}}s 0s ease-in-out infinite !important;
			}

			#{{content.blog_page_slug}}::after {
				background-image: url('https://beta.hotelherrera.com/image/{{{image '{"resize": {"height": 300}, "grayscale": true}' 'hotel-herrera' content.blog_images 0 }}}'), url('https://beta.hotelherrera.com/image/{{{image '{ "resize": {"height": 300 }, "grayscale": true}' 'hotel-herrera' content.blog_images 1 }}}');
			}

			#{{content.blog_page_slug}}::before {
				background-image: url('https://beta.hotelherrera.com/image/{{{image '{"resize": {"height": 300}, "grayscale": true}' 'hotel-herrera' content.blog_images 2 }}}'), url('https://beta.hotelherrera.com/image/{{{image '{ "resize": {"height": 300 }, "grayscale": true}' 'hotel-herrera' content.blog_images 3 }}}');
			}
			{{/each}}
		</style>
    {{/if}}
	{{#each this.entries}}

		<article>
			<div class="work-entry-flex">
				<div class="col-one-half no-gutters">
					<div id="{{content.blog_page_slug}}" class="article-image container slideshow"></div>
				</div>
				<div class="col-one-half  no-gutters">
					<div class="article-text">
						<h2><a href="{{{content.blog_link}}}" target="_blank">{{{content.blog_title}}}</a></h2>
						<span class="text-description">{{content.blog_article}}</span>
						<p><a href="{{{content.blog_link}}}" target="_blank" class="btn-view">Read More</a></p>
					</div>
				</div>
			</div>
		</article>
	{{/each}}
{{/page-1}}
