{{#each articles}}
    <article class="col-md-12">
        <div class="work-entry-flex animate-box js-fullheight fadeInUp animated" style="height: {{imgHeight}}px;">
            <div class="col-three-forth js-fullheight" style="height: {{imgHeight}}px;">
                <div class="row no-gutters">
                    <div class="col-md-12`+push+` no-gutters">
                        <div class="work-img js-fullheight" style="background-image: url('{{this.imgSrc}}'); height: {{imgHeight}}px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-one-forth js-fullheight" style="height: {{imgHeight}}px;">
                <div class="row no-gutters">
                    <div class="col-md-12`+pull+` no-gutters">
                        <div class="display-t js-fullheight" style="height: {{imgHeight}}px;">
                            <div class="display-tc js-fullheight" style="height: {{imgHeight}}px;">
                                <div class="text-inner text-inner-right">
                                     {{{this.marked_marked}}}
                                    <time>{{content.date}}</time>
                                    <h2><a href="{{page_slug}}/" class="post-title">{{this.tagline}}</a></h2>
                                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                                    <p><a href="work-single.html" class="btn-view">View Photo</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    {{#if this.link}}{{this.link}}{{/if}}
{{/each}}