<style>

.excerpt-image {
    max-height: 500px;
    padding: 5px auto;
    overflow: hidden;
}

.post-title {
    margin: 0;
}
.post {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin: 0rem auto;
    padding-bottom: 4rem;
    padding-top: 4rem;
    word-break: break-word;
    hyphens: auto;
}
</style>

	{{#each projects}}
        <article class="post">
            {{#if this.link}}
                <img class="excerpt-image" src="{{this.link}}" />
            {{/if}}
            <h2>
                <a href="/blog/{{page_slug}}/" class="post-title">{{this.tagline}}</a>
            </h2>
            {{{this.marked_marked}}}
            <time>{{content.date}}</time>
            <div style="clear: both;"></div>
        </article>
    {{/each}}
