

	{{#each projects}}
        <article class="post">
            {{#if this.link}}
                <img class="excerpt-image" src="{{this.link}}" />
            {{/if}}
            <h2>
                <a href="/blog/{{page_slug}}/" class="post-title">{{this.tagline}}</a>
            </h2>
            {{{this.marked_marked}}}
            <time>{{content.date}}</time>
            <div style="clear: both;"></div>
        </article>
    {{/each}}
