<article class="col-md-12">
    <div id="article-image3" class="work-entry-flex animate-box js-fullheight fadeInUp animated" style="height: 296px;">
        <div id="article-image2" class="col-three-forth js-fullheight" style="height: 296px;">
            <div id="article-image1" class="row no-gutters">
                <div id="article-image" class="col-md-12 no-gutters">
                    <div class="work-img js-fullheight" style="background-image: url('{{{blog_image}}}');">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-one-forth js-fullheight" style="height: 296px;">
            <div class="row no-gutters">
                <div id="article-text"  class="col-md-12 no-gutters">
                    <div class="display-t js-fullheight" style="height: 296px;">
                        <div class="display-tc js-fullheight" style="height: 296px;">
                            <div class="text-inner text-inner-hand">
                                <h2><a href="{{blog_link}}" target="_blank">{{blog_title}}</a></h2>
                                <p>{{blog_article}}</p>
                                <p><a href="{{blog_link}}" target="_blank" class="btn-view">Read More</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>